<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <label>ServerName:</label>
            <input type="text"
                class="form-control"
                [(ngModel)]="serverName">
            <br>
            <div class="row">
                <button 
                class="btn btn-primary"
                [disabled]="!serverName"
                (click)="onCreateServer()">Add new</button>
            
                <button 
                class="btn btn-primary"
                [disabled]="!serverName"
                (click)="clean()">Clean</button>
            </div>

            <br>
            <hr/>
            <label>List of Servers</label>
            <p *ngIf="(!serverName || arrayOfServers.length===0); else noServerName">No server name set</p>
            <ng-template #noServerName>
                <app-server *ngFor="let item of arrayOfServers"></app-server>
            </ng-template>
            
        </div>
    </div>
</div>





