<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a routerLink="/home" class="navbar-brand">Brand Here</a>
      </div>
      <div class="navbar-default">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active" style="cursor: pointer;"><a routerLink="/home">Home</a></li>
            <li routerLinkActive="active" style="cursor: pointer;"><a routerLink="/test">Test</a></li>
            <li routerLinkActive="active" style="cursor: pointer;"><a routerLink="/td">Template-Driven Form</a></li>
            <li routerLinkActive="active" style="cursor: pointer;"><a routerLink="/reactive">Reactive Form</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li routerLinkActive="active" style="cursor: pointer;"><a routerLink="auth">Log In</a></li>
        </ul>
      </div>
    </div>
  </nav>
