<div class="row">
        <div class="col-md-6">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="form-group" ngModelGroup="userGroup">
                    <label for="user">User</label>
                    <input type="email" class="form-control" placeholder="User email" id="user" ngModel name="user" email required #user="ngModel">
                    <span class="help-block" *ngIf="!user.valid && user.touched">User email requerido</span>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" ngModel name="password" required #psw="ngModel">
                    <span class="help-block" *ngIf="!psw.valid && psw.touched">Password requerido</span>
                </div>
                <button type="submit" class="btn btn-primary">Log In</button>
            </form>
        </div>
        <div class="col-md-6">
            <app-form-child [user]="userTxt" [password]="pswTxt"></app-form-child>
        </div>
</div>
