
<div class="form-group">
    <label for="user">User</label>
    <input type="text" class="form-control" placeholder="User email" [value]="user"disabled>
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input type="text" class="form-control" [value]="password" disabled>
</div>
<div class="form-group">
    <input type="text" (keyup)="newChar$.next($event.key)" [(ngModel)]="auto">
    <ul>
        <li *ngFor="let item of resultsUni$ | async">{{item.name}}</li>
    </ul>
</div>

