<nav class="navbar navbar-default">
    <div class="container-fluid">
        
        <div class="navbar-header">
            <a *ngIf="isAuthenticated" routerLink="/recipes" class="navbar-brand">Recipe Book</a>
        </div>

        <div class="navbar-default"> 
        <!-- hamburger menu
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
                <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
            </button>
            <a routerLink="/" class="navbar-brand">Recipe Book</a>
        </div>
        <div class="navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true"> -->
            <ul class="nav navbar-nav">
                <li *ngIf="isAuthenticated" routerLinkActive="active" style="cursor: pointer;"><a routerLink="/recipes">Recipes</a></li>
                <li  routerLinkActive="active" style="cursor: pointer;"><a routerLink="/shopping-list">Shopping List</a></li>
                <li *ngIf="!isAuthenticated" routerLinkActive="active" style="cursor: pointer;"><a routerLink="/auth">Log In</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li style="cursor: pointer;" *ngIf="isAuthenticated">
                    <a (click)="onLogout()">Logout</a>
                </li>
                <li appDropdown class="dropdown" *ngIf="isAuthenticated">
                    <a class="dropdown-toggle" role="button">Manage<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li style="cursor: pointer;" (click)="SaveData()"><a>Save Data</a></li>
                        <li style="cursor: pointer;" (click)="FetchData()"><a>Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>